html, body {
    height: 100%;
    width: 100%;
}

.dot {
    overflow: hidden;
    width: 500px;
    height: 500px;
    background-color: transparent;
    border-radius: 50%;
    border: 25px solid red;
    display: inline-block;
    position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;
  }

#pointer {
    width: 8%;
    height: 40%;
    margin-top: -4%;
    margin-left: 45%;
    background: red;
    display: inline-block;
    position:absolute;
}