<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>

<head>
    <title>Rotator Game</title>
    <link rel="stylesheet" href="./style.css">
</head>


<body>

    <img class="redX" id="redX1" src="../public/images/redX.png">
    <img class="redX" id="redX2" src="../public/images/redX.png">
    <img class="redX" id="redX3" src="../public/images/redX.png">

    <div id="score">Score: 0</div>

    <div id="dot" class="dot">
        <div id="pointer"></div>
        <div id="triangle"></div>
    </div>

    <div id="container">
        <img id="stargate" src="../public/images/stargate.png">
    </div>

    <span id="dot1" class="dot">
        <div id="dota1" class="pointerGame"> </div>
    </span>

    <span id="dot2" class="dot">
        <div id="dota2" class="pointerGame"> </div>
    </span>

    <span id="dot3" class="dot">
        <div id="dota3" class="pointerGame"> </div>
    </span>

    <span id="dot4" class="dot">
        <div id="dota4" class="pointerGame"> </div>
    </span>

    <span id="dot5" class="dot">
        <div id="dota5" class="pointerGame"> </div>
    </span>

    <span id="dot6" class="dot">
        <div id="dota6" class="pointerGame"> </div>
    </span>

    <span id="dot7" class="dot">
        <div id="dota7" class="pointerGame"> </div>
    </span>

    <span id="dot8" class="dot">
        <div id="dota8" class="pointerGame"> </div>
    </span>

    <button onclick="waitTimer()" id="start">START</button>

    <div class="slidecontainer">
        <input type="range" min="0" max="360" value="180" class="slider" id="myRange">
      </div>

      <script src="../public/script.js"></script>

</body>