<!DOCTYPE html>
<html lang="en">
<head>
    <title>Space Rotator</title>
    <link rel="stylesheet" href="../public/style.css">
</head>


<body>

    <div id="bgM">
        <img src="../public/images/stars.jpg" alt="background">
    </div>

    <img class="redX" id="redX1" src="../public/images/redX.png">
    <img class="redX" id="redX2" src="../public/images/redX.png">
    <img class="redX" id="redX3" src="../public/images/redX.png">

    <div id="score">Score: 0</div>

    <div id="dot" class="dot">
        <div id="pointer"></div>
        <div id="triangle"></div>
    </div>

    <div id="container">
        <img id="stargate" src="../public/images/stargate.png">
    </div>

    <img class="supernova" id="nova1" src="../public/images/supernova.png">
    <img class="supernova" id="nova2" src="../public/images/supernova.png">
    <img class="supernova" id="nova3" src="../public/images/supernova.png">
    <img class="supernova" id="nova4" src="../public/images/supernova.png">
    <img class="supernova" id="nova5" src="../public/images/supernova.png">
    <img class="supernova" id="nova6" src="../public/images/supernova.png">
    <img class="supernova" id="nova7" src="../public/images/supernova.png">
    <img class="supernova" id="nova8" src="../public/images/supernova.png">


    <img id="sun" src="../public/images/sun.png">

    <button onclick="waitTimer()" id="start">START</button>

    <div class="slidecontainer">
        <input type="range" min="0" max="360" value="180" class="slider" id="myRange">
      </div>

      <script src="../public/script.js"></script>

</body>