html, body {
  height: 100%;
  width: 100%;
  background-image: url(./images/stars.jpg);
  position: fixed;
}

#stargate{
  width: 80%;
  display: inline-block;
  overflow: hidden;
  position:fixed; /*it can be fixed too*/
      left:0; right:0;
      top:0; bottom:0;
      margin:auto;
  transform: rotate(180deg);
  z-index: 1;
}

#triangle {
  width: 0;
height: 0;
border-style: solid;
border-width: 0 20px 45px 20px;
transform: rotate(180deg);
border-color: transparent transparent red transparent;
margin-top: 2.5%;
margin-left: 47.8%;
display: block;
}

#score {
  font-size: 60px;
  margin-left: 40%;
  margin-top: 65%;
  display: block;
  position:fixed;
  color: red;
}

.redX {
  position: fixed;
  width: 20%;
  margin-top: 3%;
}

#redX1 {
  margin-left: 6.5%;
  display: none;
}

#redX2 {
  margin-left: 39%;
  display: none;
}

#redX3 {
  margin-left: 71.5%;
  display: none;
}

.dot{
  overflow: hidden;
  width: 800px;
  height: 800px;
  background-color: transparent;
  border-radius: 50%;
  border: 25px solid transparent;
  display: inline-block;
  position:fixed; /*it can be fixed too*/
      left:0; right:0;
      top:0; bottom:0;
      margin:auto;
}

#dot {
  z-index: 2;
  transform: rotate(180deg);
}

#dot1 {
  transform: rotate(67.5deg);
  opacity: 0;
}

#dot2 {
  transform: rotate(157.5deg);
  opacity: 0;
}

#dot3 {
  transform: rotate(247.5deg);
  opacity: 0;
}

#dot4 {
  transform: rotate(337.5deg);
  opacity: 0;
}

#dot5 {
  transform: rotate(22.5deg);
  opacity: 0;
}

#dot6 {
  transform: rotate(112.5deg);
  opacity: 0;
}

#dot7 {
  transform: rotate(202.5deg);
  opacity: 0;
}

#dot8 {
  transform: rotate(292.5deg);
  opacity: 0;
}

.supernova {
  width: 12.5%;
  display: none;
  position: fixed;
  z-index: 0;
}

#nova5 {
  margin-top: 41.5%;
  margin-left: 52%;
}

#nova1 {
  margin-top: 54.25%;
  margin-left: 65%;
}

#nova6 {
  margin-top: 72.5%;
  margin-left: 65%;
}

#nova2 {
  margin-top: 85.5%;
  margin-left: 52%;
}

#nova7 {
  margin-top: 85.5%;
  margin-left: 33.75%;
}

#nova3 {
  margin-top: 72.5%;
  margin-left: 21%;
}

#nova8 {
  margin-top: 54.25%;
  margin-left: 21%;
}

#nova4{
  margin-top: 41.5%;
  margin-left: 33.75%;
}

#start {
  display:block;
  z-index: 2;
  cursor: pointer;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 1px solid transparent;
  font-size: 40px;
  background: transparent;
  position:fixed; /*it can be fixed too*/
      left:0; right:0;
      top:5%; bottom:0;
  margin: auto;
  margin-top: 50%;
}

#sun {
  width: 34%;
  position: fixed;
  margin-top: 52%;
  margin-left: 32.1%;
}

#pointer {
  width: 7%;
  height: 40%;
  margin-top: -4%;
  margin-left: 46.5%;
  background: red;
  display: none;
  position:absolute;
}

.pointerGame {
  width: 8%;
  height: 30%;
  margin-top: -4%;
  margin-left: 46%;
  background: blue;
  display: inline-block;
  position:absolute;
}

.slidecontainer {
  width: 60%; /* Width of the outside container */
  margin-left: 19%;
  margin-top: 122.5%;
  position: fixed;
  display: block;
  z-index: 2;
  /*position: fixed;*/
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 95px; /* Specified height */
  border-radius: 5px; 
  background: gray; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.6; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: .9; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 88.67px; /* Set a specific slider handle width */
  height: 88.67px; /* Slider handle height */
  border-radius: 50%; 
  background: white; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 45px; /* Set a specific slider handle width */
  height: 45px; /* Slider handle height */
  border-radius: 50%; 
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}